n/* TAG SELECTORS */
body {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  line-height: 2;
  font-size: 1.5rem;
}

h1 {
  font-size: 5rem;
  text-align: left;
  font-family: 'Merriweather', serif;
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #142d4c;
}

hr {
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-top: 2rem;
  margin: 0 30% 2% 30%;
}

/* General Tags */

.colored-section {
  background-color: #385170;
  color: #ecf0f1;
}

.white-section {
  background-color: #ecf0f1;
  color: grey;
}


/* NAVBAR */

.brand-logo {
  font-size: 3rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.collapse-menu {
  text-align: right;
}

.navbar {
  background-color: #385170;
  padding: 0 0 7% 0;
}

.nav-item {
  font-size: 1.2rem;
  margin: 0 1rem;
}

@media (max-width: 1028px) {
  .brand-logo {
    font-size: 5rem;
  }

  .nav-item {
    font-size: 2.5rem;
    margin: 0 1rem;
  }

  .navbar-toggler-icon{
    width: 5rem;
    height: 5rem;
  }
}
/* BANNER TITLE PHONE PIC */

#title .container-fluid {
  text-align: left;
  padding: 3% 15% 7%;
}

.top-buttons {
  margin: 2rem 1rem 2rem 0;
}

.phone-img {
  position: absolute;
  top: -3.5rem;
  transform: rotate(25deg);
}

@media (max-width: 1028px) {

  .phone-img {
    position: static;
    transform: none;
    margin-top: 1rem;
    width: 40rem;
    text-align: center;
  }

  #title .container-fluid {
    text-align: center;
    padding: 3rem;
  }

  .big-text {
    text-align: center;
    font-size: 6rem;
  }
}

/* FEATURE */

#features {
  position: relative;
}

#features .container{
  padding: 7% 0 3% 0;
  color: #142d4c;
}

.feature-text {
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: grey;
}

.feature-title {
  font-weight: bold;
  margin-top: 1rem;
}

@media (max-width: 1028px) {

  .feature-item {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .feature-text {
    margin: 1rem 2rem 2rem 2rem;
    font-size: 2.5rem;
    text-align: justify;
  }

  .feature-title {
    font-size: 3.5rem;
  }

  #features .container{
    padding: 7% 0 12% 0;
  }

  .feature-section-title{
    font-size: 5rem;
    line-height: 1.5;
    font-weight: bold;
  }
}




/* TESTIMONIALS */

.carousel-item {
  padding: 7.5% 15% 8% 15%;
  height: 35rem;
  overflow: hidden;
}

.testimonial-img {
  width: 12rem;
  border-radius: 50%;
  padding: 1rem;
}

.testimonial-person {
  color: white;
}

.testimonial-quote {
  font-size: 2.25rem;
  padding: 0 3rem 1rem 3rem;
}

@media (max-width: 1028px) {

  .carousel-item {
    padding-top: 13%;
    height: 50rem;
  }

  .testimonial-quote {
    font-size: 3.5rem;
    padding: 0 0 2.5rem 0;
  }

  .testimonial-img {
    width: 18rem;
  }

  .testimonial-person {
    font-size: 2rem;
  }
}

/* PRICING */
#pricing .white-section{
  padding: 7% 10%;
}

.card {
  margin: 1rem;
}

.plan-benefits {
  font-size: 1.2rem;
  font-weight: 300;
}

.pricing-price {
  font-weight: bold;
  font-size: 3rem;
  color: black;
}

.pricing-months {
  font-weight: bold;
  font-size: 2rem;
  color: black;
}

@media (max-width: 1028px) {
  #pricing .white-section{
    padding: 12% 10%;
  }

  .pricing-months {
    font-size: 3rem;
  }

  .pricing-price {
    font-size: 4rem;
  }

  .card-header {
    font-size: 3rem;
  }

  .plan-benefits {
    font-size: 2rem;
    font-weight: 300;
  }

  .signup-button {
    font-size: 2rem;
  }
}

/* CTA */
#cta .colored-section{
  padding: 12% 10%;
}

@media (max-width: 1028px) {

  #cta .colored-section{
    padding: 19% 10%;
  }
}

.cta-btn {
  margin: 1rem;
}

/* Footer */
#footer .white-section {
  padding: 7% 10% 3% 10%;
}

.footer-icon {
  margin: 1rem;
}

.copyright {
  font-size: 1rem;
}

@media (max-width: 1028px) {

  .btn-mobile-big {
    width: 20rem;
    height: 5rem;
    font-size: 2.5rem;
    margin: 3rem 1rem;
  }

  .cta-text {
    font-size: 5rem;
  }

  .footer-icon {
    transform: scale(2);
    margin: 2rem;
  }

  .copyright {
    font-size: 1.5rem;
  }
}
